/* Layout declerations */
nav.menu-top {
	height: 100px;
	background-color: #07536c;
	border-bottom: 10px solid #064458;

	display: flex;
	justify-content: center;
	align-items: center;
}

ul.menu-top-links {
	width: 90%;

	display: flex;
	justify-content: space-around;
}

main {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 600px;
	
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	gap: 40px;
}