/* Layout declerations */
nav.menu-top {
	display: flex;
	justify-content: center;
	align-items: center;
}

ul.menu-top-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	flex: 1;
}

main {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	gap: 40px;
}

div.main-container {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.pair-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}

.text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 40px;
}