body {
	background-color: rgb(246, 221, 175);
}

/* Menu */
nav.menu-top {
	padding: 30px;
	background-color: #07536c;
	border-bottom: 10px solid #064458;
}

li {
	padding: 20px;
}

.link {
	padding: 20px;
	border: 2px solid white;
	border-radius: 15px;
}

.link:hover {
	background-color: #064458;
}

/* Main content */
main {
	width: 600px;
	margin: 20px 0px;
}

header {
	margin: 20px 0px;
}

h1 {
	text-align: center;
}

.text-container {
	text-align: center;
	width: 250px;
}

/* Experimental */

.explanation {
	border: 1px dotted black;
	padding: 20px;
	background-color: rgb(228, 203, 156);
}

hr {
	width: 90%;
	color: #064458;
}