/* Init Declerations */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Verdana", sans-serif;
}

a {
	text-decoration: none;
	color: #fffafb;
	font-weight: bold;
}

ul {
	list-style: none;
	padding: 0;
}

/* Layout Declerations */
body {
	background-color: rgb(246, 221, 175);
}

nav {
	height: 100px;
	background-color: #07536c;
	border-bottom: 10px solid #064458;

	display: flex;
	justify-content: center;
	align-items: center;
}

ul {
	width: 90%;

	display: flex;
	justify-content: space-around;
}

main {
	margin-top: 50px;
	width: 400px;
	
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	gap: 40px;
}

/* Specific Declerations */

.link {
	padding: 20px;
	border: 2px solid white;
	border-radius: 15px;
}

.link:hover {
	background-color: #064458;
}

header {
	margin: 40px 0px;
}

h1 {
	text-align: center;
}

/* Experimental */

.pair-container {
	padding-left: 50px;
	width: 600px;

	display: flex;
	justify-content: center;
	gap: 50px;
}

.text-container {
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 40px;
}

.line {
	border-left: 4px dotted white;
}

.main-container {
	display: flex;
	justify-content: center;
	gap: 10px;
}